.about {
}
.about__title {
  .font(@osb2, 1.6em, 1.1);
  display: block;
  margin: 25px 0px 0px 30px;
}
.about__list {
  list-style-type: none;
  padding: 0;
  border-width: 1px 0px;
}
.about__item {
  padding: 80px 100px 0px 30px;
  border: 1px solid lightgray; /* temp */
  border-width: 1px 0px 0px 0px;  /* temp */
  background-position: 30px 30%;
  background-repeat: no-repeat;
  &--eco { background: url("../../img/icon-feature-flower.svg") no-repeat 38px 20%; padding-top: 70px; }
  &--scan { background: url("../../img/icon-feature-money.svg") no-repeat 30px 30%; padding-right: 85px; }
  &--like { background: url("../../img/icon-feature-heart.svg") no-repeat 38px 37%; padding-top: 85px; }
  &--hand { background: url("../../img/icon-feature-ball.svg") no-repeat 34px 34%; padding-right: 50px; }
  &--sup { background: url("../../img/icon-feature-rocket.svg") no-repeat 25px 32%; padding-top: 82px; padding-right: 35px;}
  &--pack{ background: url("../../img/icon-feature-gift.svg") no-repeat 32px 32%; padding-top: 82px; padding-right: 85px; }
}
.about__item-link {width: 220px;
  .font(@osb2, 1.07em, 1.2);
  text-decoration: none;
  color: #010000;
}

@media (min-width: @tablet-width) {
  .about {
    height: 588px;
  }
  .about__title {
    .font(@osb2, 2.65em, 1);
    margin: 50px 0px 20px 50px;
  }
  .about__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 500px;
  }
  .about__item {
    .font(@osb2, 1.2em, 1.1);
    width: 285px;
    padding: 90px 0px 20px 0px;
    margin: 0 0 0 50px;
    flex-shrink: 1;
    background-position: 0px 30%; /* ДЛЯ DESKTOP'A */
    border: none; /* temp */
    &--eco { width: 220px; background-position: 9px 30%; }
    &--scan { width: 245px; background-position: 0px 26%; padding-top: 85px; }
    &--like { width: 220px; background-position: 9px 31%; padding-top: 85px; }
    &--hand { margin: 0 0 0 90px; background-position: 3px 31%; padding-top: 87px; }
    &--sup { width: 305px; margin: 0 0 0 90px; background-position: 0px 29%; }
    &--pack { width: 270px; margin: 0 0 0 90px; background-position: 2px 27%; padding-top: 85px; }
  }
}

@media (min-width: @desktop-width) {
  .about {
    height: 600px;
  }
  .about__title {
    display: block;
    margin: 57px 0 0 275px;
    .font(@osb2, 3.2em, 1);
  }
  .about__list {
    margin-top: 15  px;
  }
  .about__item {
    margin: 0 0 0 275px;
    &--eco { width: 220px; background-position: 9px 30%; }
    &--scan { width: 245px; background-position: 0px 26%; padding-top: 85px; }
    &--like { width: 220px; background-position: 9px 31%; padding-top: 85px; }
    &--hand { margin: 0 0 0 105px; background-position: 3px 31%; padding-top: 87px; }
    &--sup { width: 305px; margin: 0 0 0 105px; background-position: 0px 29%; }
    &--pack { width: 270px; margin: 0 0 0 105px; background-position: 2px 27%; padding-top: 85px; }
  }
}
