.catalog-list {
  .noListStyle();
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px auto;
    flex-wrap: wrap;
    padding: 0 0 0 30px;
    border-bottom:  1px solid #ececec;
  }
  &__name-link {
    .font(@osb1, 1.1em, 1);
    margin: 25px 60px 0px 20px;
  }
  &__item-description {
    .font(@os1, 0.8em, 1);
    margin: 20px 20px 0px 20px;
  }
  &__price {
    .font(@osb1, 1em, 1);
    display: flex;
    flex-direction: row;
    flex-basis: 260px;
    margin: 30px 50px 25px 20px;
    padding-top: 20px;
    justify-content: space-between;
    border-top: 1px solid #ececec;
  }
}

@media (min-width: @tablet-width) {

  .catalog-list {
    margin-top: 100px;
    &__item {
      flex-direction: column;
      height: 335px;
      border: 1px solid #ececec;
      border-top-width: 1px;
    }
    &__image-link {
      width: 335px;
      height: 335px;
      border: 1px solid lightgrey; /* temp */
      text-align: center; /* temp */
      overflow: hidden;
    }
    &__image {
      width: 350px; /* temp */
    }
    &__name-link {
      margin-left: 0px;
    }
    &__item-description {
      margin-left: 0px;
    }
    &__price {
      flex-basis: 35px;
      margin: auto 0 0 0;
      width: 335px;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 150px;
      &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 315px;
        height: 655px;
        padding: 0;
        border: 1px solid #ececec;
        margin: 0px 0px 0px 50px;
      }
      &__image-link {
        width: 315px;
        height: 460px;
        overflow: hidden;
      }
      &__image {
        margin-top: 30px;
        width: 430px;
      }
      &__name-link {
        margin-top: 0;  /* --- */
        margin-left: 25px;
      }
      &__item-description {
        margin-top: 0;  /* --- */
        margin-left: 25px;
      }

      &__price {
        flex-basis: 255px;
        margin-top: 0;
        margin-left: 25px;
      }
  }
}
