.catalog-main {
  &__wrapper {;
    margin: 20px 0 0px 0;
  }
  &__video-wrapper {
    border: 1px solid #ececec;
    margin: 30px auto 60px;
  }
  &__video {
    margin: 0 auto 0 30px;
  }
  &__video-title {
    .font(@osb1, 1em, 1.5);
    display: block;
    margin: auto;
    padding: 20px 30px 25px 130px;
    background: url("../../img/icon-video.svg") 23% 50% no-repeat;
  }
  &__video-text {
    .font(@os1, 0.8em, 2);
    padding: 10px 65px 0px 65px;
  }
  &__button {
    width: 190px;
    margin: 10px 0px 30px 65px;
  }
}

.catalog-list {
  .noListStyle();
  &__item {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    margin: 30px auto;
    flex-wrap: wrap;
    padding: 0 0 0 30px;
    border-bottom:  1px solid #ececec;;
  }

  &__image-link { }
  &__image { }

  &__name-link {
    .font(@osb1, 1.1em, 1);
    margin: 25px 60px 0px 20px;
  }
  &__item-description {
    .font(@os1, 0.8em, 1);
    margin: 20px 20px 0px 20px;
  }
  &__price {
    .font(@osb1, 1em, 1);
    display: flex;
    flex-direction: row;
    flex-basis: 260px;
    margin: 30px 50px 25px 20px;
    padding-top: 20px;
    justify-content: space-between;
    border-top: 1px solid #ececec;
  }

  &__price-value { }
  &__add-cart-link { }
  &__add-cart-image { }
}

@media (min-width: @tablet-width) {
  .catalog-main {

    &__video-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 55px;
    }
    &__video {
      margin: 0;
      flex-grow: 1;
      width: 680px;
      height: 450px;
    }
    &__video-title {
      order: 1;
      margin: 20px 0 0 0;
      padding-left: 155px;
      .font(@osb1, 1.3em, 1);
      background-position: 65px center;
    }
    &__video-text {
      order: 2;
      .font(@os1, 0.95em, 1.9);
      padding: 0px 65px 0px 65px;
    }
    &__button {
      order: 3;
      flex-grow: 1;
      margin: 20px 70px 50px 65px;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog-main {

    &__video-wrapper {
      padding: 0 50px 0 50px;
      margin: 55px auto 60px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 455px;
    }
    &__video {
      flex-grow: 0;
    }
    &__video-title {
      order: 1;
      margin-top: 0;
      padding: 100px 0 0 80px;
      width: 240px;
      eight: 100px;
      background-position: 80px 40px;
    }
    &__video-text {
      width: 250px;
      margin: 40px 0 0 80px;
      padding: 0;
    }
    &__button {
      order: 3;
      width: 250px;
      flex-grow: 0;
      margin: 50px 0 0 80px;
      padding: 0;
    }
  }
}
