.catalog-list {
  .noListStyle();
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px 30px;
    flex-wrap: wrap;
    padding: 0 0 0 0px;  /* --- */
    border:  1px solid #ececec;
  }
  &__item--box { margin-top: 35px; }
  &__item--toybox { margin-top: 32px; }
  &__name-link {
    .font(@osb1, 1.1em, 1);
    margin: 25px 20px 0px 27px;
  }
  &__name-link-toy {
    width: 200px;
    margin-top: 29px;
    line-height: 20px;
  }
  &__item-description {
    .font(@os1, 0.8em, 1);
    margin: 20px 20px 0px 27px;
  }
  &__price {
    .font(@osb1, 1em, 1);
    display: flex;
    flex-direction: row;
    flex-basis: 260px; width: 260px;
    margin: 30px 30px 25px 28px;
    padding-top: 20px;
    justify-content: space-between;
    border-top: 1px solid #ececec;
  }
}

@media (min-width: @tablet-width) {

  .catalog-list {
    margin-top: 76px;
    padding: 0 50px;
    &__item {
      flex-direction: column;
      height: 335px;
      margin: 55px 0px 50px;
      border: 1px solid #ececec;
      border-top-width: 1px;
    }
    &__item--box { margin-top: 35px; }
    &__item--toybox { margin-top: 32px; }

    &__image-link {
      width: 334px;  /* --- */
      height: 334px; /* --- */
      border: 1px solid lightgrey; /* temp */
      text-align: center; /* temp */
      overflow: hidden;
    }
    &__image {
      width: 334px  ; /* temp */
      height: auto;
    }
    &__name-link {
      margin-left: 0px;
      margin-top: 30px;
      letter-spacing: 1px;
    }
    &__name-link-toy {
      margin-left: 0px;
    }
    &__item-description {
      margin-left: 0px;
    }
    &__price {
      flex-basis: 35px;
      margin: 183px 0 0 0;
      padding-top: 25px;
      width: 265px;
    }
    &__price--toybox { margin-top: 160px; }
  }
}

@media (min-width: @desktop-width) {
  .catalog-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 130px;
    padding: 0;
      &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 316px;
        height: 655px;
        padding: 0;
        border: 1px solid #ececec;
        margin: 0px 0px 0px 48px;
      }
      &__item--box { margin-left: 50px; }

      &__image-link {
        width: 315px;
        height: 460px;
        overflow: hidden;
      }
      &__image {
        width: 315px;
        height: auto;
      }
      &__name-link {
        margin-top: 5px;  /* --- */
        margin-left: 25px;
        letter-spacing: 2px;
      }
      &__name-link-toy {
        width: 210px;
        margin-top: 15px;
      }
      &__item-description {
        margin-top: 0;  /* --- */
        margin-left: 25px;
        height: 30px;
      }

      &__price {
        flex-basis: 255px;
        margin-top: 0;
        margin-left: 25px;
      }
      &__price--toybox { margin-bottom: 10px; }
  }
}
