.form-main {
  padding: 0 30px 0 30px;
}

.form {
  padding: 0;
  margin: 0 0 35px 0;
  &__title {
    .font(@os1, 0.8em, 2);
    margin: 20px 0 20px 0;
  }
  &__type {
    .font(@osb1, 1em);
    height: 160px ; /* 170 */
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }
  &__text { color: #62d1ba; }
  &__line {
    .line();
    top: 7px;
    left: 20px;
  }
  &__type-label-wrapper {
    display: flex;
    height: 120px;
    border: 1px solid green;
    align-content: space-around;
    flex-wrap: wrap;
  }
  &__type-input { display: none; }

  &__type-label { .radio-label();
    display: inline-block;
    margin: 5px 0px 0px 0px;
  }
  &__type-text {
    width: 190px;
    height: 30px;
    margin: 10px 0px 10px 30px;
  }

  &__color {
    margin-top: 20px;
  }
  &__color-input-wrapper { display: none; }
  &__color-list {
    .noListStyle();
    padding: 10px 0 10px 0;
  }
  &__color-item {
    display: flex;
    align-items: center;
    margin: 20px 0px 20px 0px;
  }

  &__color-label {
    position: relative;
    .check-label()
  }
  &__color-label-v::after {
    .check-label-checked();
    content:  "";
    position: absolute;
    top: 8px;
    left: 7px;
  }
  &__color-name {
    .font(@osb1);
    margin-left: 20px;
  }

  &__fio {}
  &__fio-point {
    margin: 25px 0px 0px 0px;
  }
  &__fio-label {
    .font(@osb1);
  }
  &__fio-input {
    .input-text();
    .font(@os1, 1em);
  }

  &__phone {
    margin-top: 35px;
  }
  &__phone-input {
    .input-text();
    background: url("../../img/icon-phone.svg") no-repeat 100% 50%;
  }

  &__email {
    margin-top: 35px;
  }
  &__email-input {
    .input-text();
    background: url("../../img/icon-mail.svg") no-repeat 100% 50%;
  }

  &__add {
    margin-top: 35px;
  }
  &__add-input {
    .font(@os1, 1em);
    width: 260px;
    height: 140px;
    margin: 20px 0 10px 0;
    border: 2px solid #000000;
    padding: 15px;
    box-sizing: border-box;
  }
  &__button { margin: 35px 0 20px 0; }
}

@media (min-width: @tablet-width) {
  .form-main {
    padding: 0;
    margin: 0px 0px 0px 0px;
  }

  .form {

    &__title {
      .font(@os1, 1em, 1.9);
      margin: 85px 0 20px 50px;
      width: 610px;
    }
    &__type {
      .font(@osb1, 1em);
      margin: 35px 0 40px 0;
      border: 1px solid orange;
      padding: 0px 0 0 50px;
    }
    &__text {
      margin-top: 35px;
    }
    &__line { display: none; }

    &__type-label-wrapper {
      margin-left: 130px;
      width: 400px;
      height: auto;
    }
    &__type-label {
      width: 20px;
      height: 20px;
      border: 15px solid #ffffff;
    }
    &__type-text {
      .font(@osb1, 1.2em);
      width: 280px;
      margin: 15px 0 0 30px;
    }

    &__color {
      display: flex;
      margin-top: 0px;
      padding: 28px 0 28px 50px;
      background: #f1f1f1;
    }
    &__color-input-wrapper { display: none; }

    &__color-list {
      display: flex;
      flex-basis: 500px;
      flex-wrap: wrap;
      margin-left: 120px;
      border: 1px solid orange; /* temp */
    }

    &__color-item {
      flex-basis: 200px;
      width: 200px; /* ?????????? */
      margin: 10px 0px 10px 0px;
    }

    &__color-item.check-gray { margin-left: 57px; }
    &__color-item.check-black { margin-left: 57px; }
    &__color-item.check-orange { margin-left: 57px; }

    &__color-label {
      width: 50px;
      height: 50px;
    }
    &__color-label-v::after {
      .check-label-checked-tab();
      top: 10px;
      left: 10px;
    }
    &__color-name {
      .font(@osb1);
      margin-left: 30px;
    }

    &__fio {
      display: flex;
      padding: 0 50px 0 50px;
      margin-top: 40px;
    }
    &__fio-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-left: 120px;
    }
    &__fio-point {
      display: flex;
      align-items: center;
      flex-grow: 1;
      margin: 10px 0 10px 0;
    }
    &__fio-label {
      .font(@osb1, 1.2em);
    }
    &__fio-input {
      margin-left: 25px;
      flex-grow: 1;
    }

    &__phone {
      display: flex;
      align-items: center;
      background: #f1f1f1;
      padding: 25px 50px 0 50px;
      margin-top: 40px;
      height: 100px;
    }
    &__text--tel {
      margin-top: 0;
    }
    &__phone-input {
      margin-left: 130px;
      flex-grow: 1;
    }

    &__email {
      display: flex;
      background: #f1f1f1;
      margin-top: 0;
      padding: 0 50px 0 50px;
      height: 100px;
    }
    &__text--email {
      margin-top: 15px;
    }
    &__email-input {
      margin-left: 105px;
      flex-grow: 1;
    }

    &__add {
      display: flex;
      padding: 0 50px 0 50px;
    }
    &__add-input {
      margin-left: 120px;
      flex-grow: 1;
    }
    &__order-wrapper {
      display: flex;
      align-items: center;
      padding: 0px 50px 0px 50px;
      margin: 45px 0 50px 0;
      justify-content: space-between;
    }

    &__legend {
      .font(@os1, 1em);
      width: 285px;
      order: 2;
    }
    &__button {
      margin: 0;
    }
  }
}

@media (min-width: @desktop-width) {

  .form-main { }

  .form {

    &__title {
      .font(@os1, 1.1em, 1.8);
      margin-top: 135px;
      margin-left: 215px;
    }
    &__text {
      margin-top: 35px;
    }
    &__type {
      margin: 40px 0 0 0;
      padding-left: 100px;
    }

    &__type-label-wrapper {
      margin-left: 75px;
    }
    &__color {
      margin-top: 30px;
      padding-left: 100px;
      height: 175px;
    }
    &__color-list {
      flex-basis: 740px;
      justify-content: space-between;
      align-content: center;
      margin-left: 70px;
      border: 1px solid orange; /* temp */
    }
    &__color-item.check-pink { margin-left: 90px;}
    &__color-item.check-black { margin-left: 0px;}
    &__color-item.check-orange { margin-left: 30px;}

    &__color-label-v::after {
      .check-label-checked-tab();
      top: 8px;
      left: 7px;
    }
    &__color-name {
      margin-left: 20px;
    }

    &__fio {
      margin-top: 25px;
      padding: 0 100px 0 100px;
      display: flex;
    }
    &__fio-wrapper {
      flex-basis: 690px;
      margin-left: 70px;
    }
    &__fio-point {
      margin: 15px 0px 10px 0px;
    }

    &__phone {
      height: 70px;
      margin-top: 35px;
      padding: 35px 100px 0 100px;
      align-items: baseline;
    }
    &__phone-input {
      flex-basis: 690px;
      margin-left: 80px;
      flex-grow: 0;
    }

    &__email {
      height: 70px;
      padding: 0px 100px 50px 100px;
      align-items: baseline;
    }
    &__email-input {
      flex-basis: 690px;
      margin-left: 60px;
      flex-grow: 0;
    }

    &__add {
      margin: 35px 0px 0px 0px;
      padding: 0 100px 0 100px;
    }
    &__add-input {
      flex-basis: 690px;
      margin-left: 77px;
      flex-grow: 0;
    }

    &__order-wrapper {
      width: 690px;
      flex-basis: 690px;
      padding: 0px 0px 0px 0px;
      margin: 0 0 35px 210px;
    }
    &__legend {
      margin-top: 15px;
      flex-grow: 0;
    }
    &__button.button {
      margin: 35px 0 20px 0px;
    }
  }
}
