.goods-list {
  .noListStyle();
  .font(@osb1, 1em, 1)
}
.goods-list__item {
  height: px;
  padding: 29px 30px;
}
.goods-list__link {
  text-decoration: none;
  letter-spacing: 1px;
  display: block;
  width: 50px ;
  color: #ffffff;
  .font(@osb2, 1.15em, 1.2);
}
.goods-list__item--furniture {
    background: url("../../img/icon-interior.svg") no-repeat 87% 50% #63d1bb;
}
.goods-list__item--toys {
  background: url("../../img/icon-toy.svg") no-repeat 87% 50% #56c3b2;
}
