.goods-list {
  .noListStyle();
  .font(@osb1, 1em, 1);
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}
.goods-list__item {
  width: 100%;
  height: px;
  padding: 29px 30px;
}
.goods-list__link {
  text-decoration: none;
  letter-spacing: 1px;
  display: block;
  width: 50px ;
  color: #ffffff;
  .font(@osb2, 1.15em, 1.2);
}
.goods-list__item--furniture {
  background: url("../../img/icon-interior.svg") no-repeat 87% 50% #63d1bb;
}
.goods-list__item--toys {
  background: url("../../img/icon-toy.svg") no-repeat 87% 50% #56c3b2;
}
@media (min-width: @tablet-width) {
  .goods-list {
    margin: 340px 50px 0 50px;
    &__item {
      width: auto;
      flex-grow: 1;
      padding: 22px 22px;
    }
    &__link {
      .font(@osb2, 1.3em, 1.5);
    }
  }
}
@media (min-width: @desktop-width) {
  .goods-list {
    margin: 365px 100px 0 100px;
    &__item {
      width: auto;
      flex-grow: 1;
      padding: 20px 20px;
    }
  }
}
