.navigation__toggle {
  background: transparent;
  margin: 0 25px 0 auto;
  border: none;
}

@media (min-width: @tablet-width) {
  .navigation__toggle { display: none;}

  .navigation__image {
    width: 20px;
    height: 20px;
  }
}
