.navigation {
  isplay: inline-block;
  margin: 0 25px 0 50px;
}

.navigation__toggle {
  background: transparent;
  ackground-size: 100%;
  isplay: inline-block;
  margin: 0 0px 0 auto;
  border: none;
}
.navigation__image {
  width: 20px;
  height: 20px;
}

.navigation__wraper {
  display: none;
}
