.page-header {

   &__top {
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;      /*  Temp line */
   }
   &__logo {
     padding: 20px 0;
     margin: 0 10px 0 120px;
   }

  &__content {
    height: 488px;
    border-top: 1px solid #ececec;
    background: url("../../img/hero-mobile@1x.jpg") no-repeat;
    background-position: center -15px;
  }
  &__content-form {
    background: #f1f1f1;
    height: 180px;
  }
  &__content-catalog {
    height: 175px;
    background: #f1f1f1;
    border-top: #ececec;
  }
  &__title {
    .font(@osb2, 1.7em, 1.1);
    color: #010000;
    text-align: center;
    width: 250px;
    margin: 0px auto 0px;
    padding: 75px 0px 0px;
  }

}

@media (min-width: @tablet-width) {

  .page-header{

    &__top {
      align-content: flex-start;
      height: 90px;  /* ?????????? */
      padding: 0px 0; /* ?????????? */
    }
    &__logo {
      display: none; /* --- */
    }
    &__content {
      height: 745px;
      background-position: center 0px;
      background-size: 140%;
    }

    &__content-catalog {
      height: 210px;
    }

    &__content-form {
      height: 210px;
      border: 1px solid green; /* --- */
    }
    &__title {
      .font(@osb2, 2.7em, 1.2);
      width: 595px;
      padding-top: 80px;  /* 98 */
    }
    &--index-title {
      padding: 0px;
      margin: 145px auto 0px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header{

    &__content {
      background-size: 100%;
    }
    &__content-catalog {
      height: 235px;
    }
    &__content-form {
      height: 235px;
      border: 1px solid green;  /* --- */
    }
    &__title {
      .font(@osb2, 3.5em, 1);
      width: 650px;
      padding-top: 90px;
    }
    &--index-title {
      padding: 0px;
      margin: 180px auto 0px;
    }
  }
}
