.page-footer {
  background: #f1f1f1;
}
.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {

    &__wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &__logo {
      display: block;
      border: 1px solid green;
      padding: 20px 120px 20px 50px;
      margin: 0 auto 0 0px;
      flex-grow: 1;  /* temp */
    }
    &__logo-link {
      margin: 0px auto;
    }
    &__logo-image {
      margin: 20px auto;
    }
 }
}

@media (min-width: @desktop-width) {
  .page-footer {

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__logo {
    display: block;
    border: 1px solid green;
    padding: 20px 0px 20px 0px;
    margin: 0 auto 0 100px;
    flex-grow: 0;  /* temp */
    width: 100px;
    text-align: center;
    }
    &__logo-link {
      margin: 0px auto;
    }
    &__logo-image {
      width: 100px;
    }
  }
}
