  .reviews {
  .font(@os1, 1em, 1);  /*temp*/
}

.reviews__title {
  .font(@osb2, 1.5em, 1);
  display: block;
  padding: 40px 0px 15px 30px;
}
.reviews__text {
  .font(@os1, 0.9em, 2.1);  /* line-height: 30px; */
  padding: 0px 30px 0px 30px;
}
.reviews__name {
  display: block;
  padding: 15px 0px 15px 30px;
}
.reviews__email {
  padding-left: 30px;
}
.reviews__toggles {
  display: flex;
  align-items: center;
  width: 80%;
  height: 50px;
  margin: 30px 0px 40px 30px;
  border: 1px solid lightgray;
  justify-content: space-around;
}
.reviews__toggle {
  width: 50px;
  background: black;
  border: 1px solid black;
  position: relative;
  &--prev::before { .toggle-prev(); }
  &--next::after  { .toggle-next(); }
}
.reviews__button {
  margin: 10px 0px 30px 30px;
}

@media (min-width: @tablet-width) {
  .reviews {
    &__wrapper {
      border: 1px solid orange;
      background: url("../../img/review@1x.jpg") no-repeat;
      height: 525px;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
    }
    &__title {
      font-size: 2.7em;
      padding: 0;
      margin: 85px 0 0 50px;
    }
    &__text {
      .font(@os1, 1em, 1.9);
      order: 2;
      margin: 45px 70px 0 50px;
      padding: 0;
    }
    &__name-email {
      margin: 60px 0 0 50px;
      order: 3;
    }
    &__name {
      padding: 0px;
      margin-bottom: 15px;
    }
    &__email {
      padding: 0px;
    }
    &__toggles {
      order: 4;
      width: 175px;
      margin: 60px 50px 0 auto;
    }
    &__button.button {
      order: 1;
      width: 175px;
      margin: 85px 50px 0 auto;
    }
    &__wave {
      width: 100%;
      height: 17px;
      border: 1px solid gree;
      background: url("../../img/bg-zigzag-line.svg") no-repeat 100% 100%;
      background-size: 105%;
    }
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    &__wrapper {
      background-position: 100px top;
    }
    &__title {
      font-size: 3.2em;
      margin-left: 275px;
    }
    &__text {
      font-size: 1.05em;
      width: 770px;
      margin: 45px 0px 0 275px;
    }
    &__name-email {
      margin-left: 275px;
    }
    &__name { }
    &__email {
      padding: 0px 0px;
      margin: 0px 0px 0px 0px;
    }
    &__toggles {
      margin-right: 100px;
    }
    &__button.button {
      padding: 0;
      margin-right: 100px;
    }
    &__wave {
      width: 100%;
      height: 27px;
      border: 1px solid gree;
      background: url("../../img/bg-zigzag-line.svg") no-repeat -20px;
      background-size: 105%;
    }
  }
}
