.page-footer__social {
  display: flex;
  slex-direction: row;
  width: 80%;
  height: 80px;
  order: 1px solid lightgreen;
  margin: 0 auto;
}
.social__list {
  list-style: none;
  padding: 0;
  order: 1px solid orange;
  border-width: 1px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  argin: auto;
  flex-basis: 100%;
  height: ;
}
.social__item {
  align-items: center;
  margin: 0 20px 0 20px;
}
.social__link {

}
.social__image {
  &--instagram {  }
  &--facebook {  }
  &--twitter {  }
}
